.container{
    margin: 50px;
}
.container h1{
    text-align: center;
}
.container a{
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #ffffff; 
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 18px; 
    font-family: sans-serif;
    text-align: center;
}
.btn-eliminar{
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 15px;
    background-color: #ff0000; 
    color: #ffffff; 
    border: none;
    border-radius: 5px; 
    font-size: 18px; 
    font-family: sans-serif;
    text-align: center;
}
.container table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse; 
    font-family: Arial, sans-serif; 
  }
  
  .container th,
  .container td {
    padding: 12px 15px; 
    text-align: center; 
    border-bottom: 1px solid #ddd;
  }
  
  .container th {
    background-color: #b40101; 
    color: white; 
    font-weight: bold; 
  }
  
  .container tr:hover {
    background-color: #f1f1f1; 
  }
  
  .container tr:nth-child(even) {
    background-color: #f9f9f9;
  }